@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

:root {
  --main-bg-color: #151515;
  --text-color: #fff;
  --green: #4ee1a0;
  --dark-grey: #242424;
  --grey: #d9d9d9;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: "Space Grotesk", sans-serif;
}

header {
  position: relative;
  overflow: hidden;
}

main {
  overflow: hidden;
  position: relative;
}

footer {
  overflow-x: hidden;
  position: relative;
  background-color: var(--dark-grey);
  text-align: center;
  padding-bottom: 5em;
  height: 800px;
}

.container {
  position: relative;
}

hr {
  width: 90%;
  height: 1.25px;
  background-color: var(--grey);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 0.5em;
}

.header-logo,
.footer-logo {
  font-weight: 700;
  font-size: 24px;
}

.header-icons {
  display: flex;
  gap: 1em;
}

.header-img {
  margin-top: -50px;
  height: 350px;
  background-image: url("images/image-profile-mobile.webp");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}

.svg-left {
  position: absolute;
  top: 124px;
  left: -342px;
  z-index: -1;
}

.svg-right {
  position: absolute;
  top: 242px;
  left: 350px;
  z-index: -1;
}

.hero-text {
  width: 100%;
  margin-top: 2.5em;
  text-align: center;
}

.hero-text__heading {
  margin: 0;
  font-size: 40px;
}

.name {
  position: relative;
}

.name::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--green);
}

.hero-text__paragraph {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  line-height: 26px;
  margin-top: 1.25em;
}

.tools {
  text-align: center;
  margin-top: 5em;
}

.tool {
  margin-top: 2.5em;
  line-height: 5px;
}

.tools h2 {
  font-weight: 700;
  font-size: 32px;
}

.tools p {
  font-weight: 500;
  font-size: 16px;
}

.first-tool {
  margin-top: 2.5em;
}

.last-tool {
  margin-bottom: 2.5em;
}

.svg-right2 {
  position: absolute;
  top: 520px;
  left: 220px;
  z-index: -1;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.project-card {
  margin-top: 1.25em;
  width: 100%;
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.project-img {
  max-width: 100%;
  height: auto;
}

.project-title {
  text-transform: uppercase;
  margin-left: 20px;
}

.project-language {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  color: var(--grey);
}

.project-preview {
  display: flex;
  gap: 30px;
  margin-left: 20px;
}

.project-preview-text {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
}

.project-preview-text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--green);
}

.projects {
  margin-top: 4em;
  margin-bottom: 120px;
}

.contact-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-text p {
  width: 90%;
}

.footer-contact-bar {
  margin-top: 80px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 1em;
}

/*form styling*/

.contact {
  width: 100%;
}

.contact-form {
  color: var(--grey);
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
}

.form__group {
  position: relative;
  padding: 30px 0;
  width: 100%;
  grid-column: 1/-1;
}

.form__field {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--grey);
  outline: 0;
  font-size: 16px;
  color: var(--grey);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
  text-transform: uppercase;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--grey);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: var(--green);
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: var(--green);
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

#message {
  resize: none;
}

.submitbtn,
.contactbtn {
  color: var(--text-color);
  background: none;
  border: none;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 2px solid var(--green);
  grid-column: 3/4;
}

.contactbtn:hover,
.submitbtn:hover {
  background-color: var(--green);
  color: var(--main-bg-color);
}

.svg-left2 {
  position: absolute;
  top: 440px;
  left: -342px;
  z-index: 1;
}

img {
  max-width: 100%;
}

/* Desktop Styling*/

@media screen and (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    position: relative;
    overflow: hidden;
  }

  .container {
    margin: 0 auto;
    width: 80%;
  }

  hr {
    width: 100%;
    height: 1.25px;
    background-color: var(--grey);
    position: absolute;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    gap: 0.5em;
  }

  .header-img {
    height: 700px;
    background-image: url("images/image-profile-desktop.webp");
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10%;
  }

  .svg-left {
    position: absolute;
    top: 124px;
    left: -125px;
    z-index: -1;
  }

  .svg-right {
    position: absolute;
    top: 500px;
    left: 867px;
    z-index: 1;
  }

  .hero {
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: 2;
  }

  .hero-text {
    width: 100%;
    margin-top: 0;
    text-align: left;
  }

  .hero-text__heading {
    margin: 0;
    font-size: 88px;
    letter-spacing: -2.5px;
    line-height: 88px;
  }

  .hero-text__paragraph {
    display: block;
    justify-content: flex-start;
    text-align: left;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    margin-top: 2.25em;
    max-width: 37ch;
  }

  .hero-text__paragraph p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 2.29px;
  }

  .tools {
    text-align: center;
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .tool {
    line-height: 28px;
  }

  .projects {
    margin-top: 4em;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    max-height: 2100px;
  }

  .project-card {
    margin-top: 3em;
  }

  .project-img-container {
    transition: opacity 0.2s ease;
    opacity: 1;
  }

  .project-img-container:hover {
    opacity: 0.5;
  }

  .heading {
    gap: 730px;
    position: absolute;
    margin-left: 20px;
  }

  .heading h1 {
    font-size: 88px;
    line-height: 88px;
    font-weight: 700;
    letter-spacing: -2.5px;
  }

  .heading p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 2.29px;
  }

  .projects > *:nth-child(2),
  .projects > *:nth-child(3) {
    margin-top: 12em;
  }
  .projects > *:nth-child(6),
  .projects > *:nth-child(7) {
    margin-top: -2em;
  }

  .project-preview {
    display: none;
    gap: 30px;
    margin-left: 190px;
    margin-top: -375px;
    position: absolute;
    z-index: 1;
  }

  .project-preview-text {
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
  }

  .project-preview-text:hover {
    color: var(--green);
  }

  .project-preview-text::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--green);
  }

  .svg-right2 {
    position: absolute;
    top: 400px;
    left: 1280px;
    z-index: -2;
  }

  .contact {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1em;
  }

  .contact-text {
    text-align: left;
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .contact-form {
    padding-top: 3.5em;
  }

  .contact-text h2 {
    font-size: 88px;
    line-height: 88px;
    font-weight: 700;
    letter-spacing: -2.5px;
  }

  .contact-text p {
    width: 75%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  .submitbtn {
    letter-spacing: 5.25px;
  }

  .footer-contact-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5em;
    gap: 0.5em;
  }
}
